# Dependencies
node_modules/
.pnp
.pnp.js

# Production build
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.*
!.env.example

# Temporary archives & extraction
extracted/
*.zip

# Deployment & Cache
.vercel/
.eslintcache

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/

.vercel
